<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<p-dialog header="Decline Order" [(visible)]="displayDeclineDialog" [modal]="true" [closable]="false" [style]="{width: '20vw'}">
  <div class="p-fluid">
    <div class="p-field">
      <label for="declineReason">Please provide the reason for declining:</label>
      <textarea id="declineReason" [(ngModel)]="declineReason" rows="5" cols="30"></textarea>
    </div>
    <div class="p-field">
      <button pButton label="Submit" class="p-button-success" (click)="submitDeclineReason()"></button>
      <button pButton label="Cancel" class="p-button-secondary" (click)="cancelDecline()"></button>
    </div>
  </div>
</p-dialog>

<div class="overflow-x-auto w-full">
  <!-- PrimeNG Table with Pagination -->
  <p-table [value]="orders" [paginator]="true" [rows]="10" [(selection)]="selectedOrders"
           [totalRecords]="totalElements" [globalFilterFields]="['status']"
           [lazy]="true" [tableStyle]="{ 'min-width': '50rem' }" (onLazyLoad)="loadOrders($event)">

    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="checkBoxMode" style="width: 4rem"><p-tableHeaderCheckbox /></th>
        <th *ngFor="let col of cols">{{ col.header }}</th>
        <th *ngIf="!checkBoxMode">Actions</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th *ngIf="!checkBoxMode">
          <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
            <ng-template #filter let-value let-filter="filterCallback">
              <p-select [(ngModel)]="selectedStatus" [options]="statuses" 
              [appendTo]="'body'"
                        (onChange)="filter($event.value)" placeholder="Select One" 
                        [showClear]="true">
                <ng-template let-option #item>
                  <p>{{option.value}}</p>
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
      </tr>

    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-order>
      <tr>
        <td *ngIf="checkBoxMode">
          <p-tableCheckbox [value]="order" />
        </td>
        <td *ngFor="let col of cols">
          <span *ngIf="col.field!='submittedDate'">{{ order | get: col.field }}</span>
          <span *ngIf="col.field=='submittedDate'">{{ (order | get: col.field) | date: 'short'}}</span>

        </td>
        <td *ngIf="!checkBoxMode">
          <ng-container *ngIf="canEdit(order)">
            <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                    (click)="openEditDialog(order,'edit')" title="Edit Order"></button>
          </ng-container>
          <ng-container *ngIf="canSubmit(order)">
            <button pButton type="button" icon="pi pi-sign-in" class="p-button-rounded p-button-danger"
                    (click)="submitOrder(order)" title="Submit Order"></button>
          </ng-container>
          <ng-container *ngIf="canCancel(order)">
            <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                    (click)="cancelOrder(order)" title="Submit Order"></button>
          </ng-container>
          <ng-container *ngIf="canApproveDecline(order)">
            <button pButton type="button" icon="pi pi-thumbs-up-fill" class="p-button-rounded p-button-success"
                    (click)="approvedOrder(order)" title="Approve Order"></button>
            <button pButton type="button" icon="pi pi-thumbs-down-fill" class="p-button-rounded p-button-danger"
                    (click)="showDeclineDialog(order)" title="Decline Order"></button>
          </ng-container>
          <button pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-danger"
                  (click)="viewSpecific(order)" title="View Order"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div *appHasRole="UserRole.CLIENT">
    <div class="p-4 mt-4 border-t border-gray-300" *ngIf="!checkBoxMode">
      <h3 class="font-bold text-lg mb-2">Add New Order</h3>
      <button pButton label="Add Order" class="p-button mt-4" (click)="openEditDialog(null,'create')"></button>
    </div>
  </div>
  <div class="p-4 mt-4 border-t border-gray-300" *ngIf="checkBoxMode">
    <button pButton label="Select Orders" class="p-button mt-4" (click)="emitOrders()"></button>
  </div>
</div>
